body {
    margin: 0;
    background-color: aliceblue;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 50px;
    background-color: aliceblue;
}

h1 {
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 5em;
	margin-top: 0;
	text-align: center;
	color: brown;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

figure {
    margin: 0;
    background-color: aliceblue;
}

.vorschau {
    max-width: 100%;
    transition: filter 0.3s ease-in-out, transform 0.3s;
    filter: grayscale(100%);
    box-shadow: 10px 12px 11px rgba(0, 0, 0, 0.07),
        10px 14px 12px rgba(0, 0, 0, 0.07),
        10px 18px 14px rgba(0, 0, 0, 0.07),
        10px 26px 18px rgba(0, 0, 0, 0.07),
        10px 32px 26px rgba(0, 0, 0, 0.07);
}

.vorschau:hover {
    transform: scale(1.07);
    filter: grayscale(0%);
    transition: transform 0.3s linear;
}
.gallery-caption {
    text-align: center;
    font-family: monospace;
    color: #000;
    font-size: 14px;
    margin-top: 9px;
}

.modal-caption {
    text-align: center;
    font-family: monospace;
    color: #000;
    background-color: aliceblue;
    font-size: 14px;
    margin-top: 17px;
    max-width: 67%;
}

/* Modal */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.05);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.3s;
}

/* .modal-wrapper {
    display: grid;
    justify-items: center;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 0.5rem;
    width: min-content;
} */

.modal-wrapper {
    display: grid;
    justify-items: center;
    padding: 12px;
    background-color: aliceblue;
    border-radius: 0.5rem;
    width: min-content;
}

.modal-nav {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    /* background-image: url('/img/3.jpg'); */
    /* padding: 10px 12px; */
    padding: 0;
    width: auto;
    max-height: 480px;
}

.close {
    font-size: 50px;
    width: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: lightgray;
    margin-top: 25px;
    margin-bottom: 5px;
}

.close:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-image {
    /* background-color: red; */
    opacity: 0;
}
